.dashboard{
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dash-h1{
margin-bottom: 20px;
}