.login{
  max-width: 1600px;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.login-h1{
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.login-p {
  color: var(--Blackish-Green, #121);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.login-btn {
  width: 512px;
  height: 48px;
  border: 0;
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 4px;
  background: #f00;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
}
.login-btn:hover{
  border: 1px solid black;
}
.login-btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #867dfb;
}
.login-inputs{
  position: relative;
}
.login-img {
  max-width: 600px;
  width: 100%;
  height: 800px;
  margin-left: 60px;
}
